@font-face {
font-family: 'Bryant Condensed-Bold-5OVOSmvW';
font-style: normal; 
font-weight: 400; 
unicode-range: U+0020-FB02;
src: url('https://media-s3-us-east-1.ceros.com/inc/fonts/2018/03/28/44cbdf33-898b-4107-80b9-fd4d7d21f2bc/bryantcondensed-bold.woff') format('woff');
}
